.barre {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 49px;
}

.barre_title {
  font-size: 14px;
  margin-bottom: 18px;
}

.barre_content {
  display: flex;
}

.barre_pourcentage {
  margin-right: 21px;

}

.barre_progress {
  position: relative;
  z-index: 1;
  height: 15px;
  width: 250px;
  background: var(--secondaryBackground);
  box-shadow: var(--shadow);
  background-color: var(--customRed);
}

.barre_avancement {
  position: absolute;
  z-index: 2;
  height: 15px;
}