.card {
    width: 300px;
    height: 450px;
    box-shadow: var(--cardShadow);
    border-radius: 10px;
    margin: 15px;
}

.card_header {
    position: relative;
    border-radius: 10px 10px 0 0;
    background-color: var(--customDarkViolet);
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_title {
    color: #fff;
    text-align: center;
    font-size: 24px;
}

.card_delete {
    position: absolute;
    top: 13px;
    right: 13px;
}

.card_delete svg path {
    fill: #fff;
}

.card_delete svg path:hover {
    fill: var(--customRed);
}

.card_body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
}

.card_footer {
    padding: 0 15px;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_gauge {
    position: relative;
    top: 30%;
}

.card_stats {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.card_likes,
.card_dislikes {
    z-index: 1;
    display: flex;
    align-items: center;

    cursor: pointer;
}

.card_likes img,
.card_dislikes img {
    margin-right: 10px;
}