:root {
  --customDarkBLue: #1b0a33;
  --customRed: #f15048;
  --customLightGrey: #e8e6ea;
  --customGrey: #cfccd4;
  --customDarkGrey: #7f768d;
}

body {
  background-color: #eee;
  font-family: "sf-pro", "Open Sans", "Roboto", "Helvetica", "Arial", sans-serif;

}